<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions>
            <form class="login-form">
                <div class="container-sm" cellspacing="0">
                    <div class="was-validated">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="inputUsername" class="col-sm-2 col-form-label">User Name</label>
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username" required>
                    </div> -->
                    <div class="was-validated">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>

                <button mat-raised-button (click)="login()" color="primary">Login</button>