<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Sample App</span>
        <span class="example-fill-remaining-space"></span>
        <span class="top"></span>
        <span class="example-spacer"></span>
        <button mat-button>About</button>
        <button mat-button>Contact</button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
            <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
            <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>


<div id="appContainer">
    <div class="row align-items-center h-100">
        <div class="col-md-5 col-sm-10 mx-auto">

            <div id="cardStyle" class="card justify-content-center">
                <div>
                    <button class="btn" [class.btn-light]="flag" type="button" style="width: 50%;" (click)="apply('login')">Login</button>
                    <button class="btn" [class.btn-light]="!flag" type="button" style="width: 50%;" (click)="apply('reg')">Register</button>
                </div>

                <div class="card-body">
                    <div *ngIf="flag">
                        <app-login></app-login>

                    </div>
                    <div *ngIf="!flag">
                        <app-register></app-register>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div> -->


<router-outlet>
</router-outlet>