table {
    border: thick solid;
    padding: none
}

thead {
    background-color: grey;
}

tbody {
    background-color: darkgray;
}

th {
    border: thin solid;
    margin: none
}

tr {
    border: thin solid;
    margin: none
}

td {
    border: thin solid;
    margin: none
}

input {
    background-color: darkgray;
    border: black;
}