<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Login Successful! Add User </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="user-form">
            <div class="container-sm" cellspacing="0">
                <div class="was-validated">
                    <label for="inputName" class="col-sm-2 col-form-label">First Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="First Name" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="was-validated">
                    <label for="inputName" class="col-sm-2 col-form-label">Last Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Last Name" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="was-validated">
                    <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
                    <input type="number" class="form-control" id="inputPhone" placeholder="Phone Number" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="was-validated">
                    <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
                    <input type="text" class="form-control" id="inputGender" placeholder="Gender" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="was-validated">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="was-validated">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword">
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Add User</button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>